{% extends 'layout.html' %}

{% block content %}

    <section class="main">
        <div class="container">
            <div class="row">

                <div class="result">
                    <h1>Video/Subtitle Merger v1.0</h1>

                    <div class="sep"></div>


                    <form class="video-form" action="/submit" method="post" enctype="multipart/form-data">
                        {{ form.csrf_token }}

                        <p>{{ form.video.label }} {{ form.video(class='xfile',accept='video/*',**{'data-validation':'required'}) }} </p>

                        <p>{{ form.srt.label }} {{ form.srt(class='xfile',accept='.srt',**{'data-validation':'required'}) }} </p>

                        <p>{{ form.submit }} </p>


                    </form>

                    <div id="download"></div>




                </div>

            </div>
        </div>
    </section>


{% endblock %}

{% block js %}
    <script>

        $(function () {
            $.validate({
                modules: 'file'
            });



            $('form').ajaxForm({
                beforeSend: function () {


                    $.blockUI({message: '<h4>Processing your request</h4><div class="progress"><div class="bar"></div><div class="percent">0%</div></div><div id="status"></div>'});

                    var bar = $('.bar');
                    var percent = $('.percent');
                    var status = $('#status');

                    status.empty();
                    var percentVal = '0%';
                    bar.width(percentVal);
                    percent.html(percentVal);
                },
                uploadProgress: function (event, position, total, percentComplete) {

                    var percent = $('.percent');
                    var status = $('#status');

                    var percentVal = percentComplete + '%';
                    $('.percent').html(percentVal);
                    $('.bar').width(percentVal);
                    if (percentComplete == 100){
                        $('h4').html('Uploaded :: Now merging subtitles into the video ...');
                        $('.percent').html('');

                    }



                },
                success: function (res) {
                    window.res = res;
                    $.unblockUI();



                    $('.bar').width('100%');
                    $('.percent').html('100%');
                },
                complete: function (xhr) {
                    res = JSON.parse(xhr.responseText);
                    $('.video-form').fadeOut();
                    $('#download').html('<a href="/' + res.result + '" download class="button button-primary">Download Processed Video</a>');


                },
                error: function (e) {
                    $.unblockUI();
                    alert('Error Processing your request, Please try again !');

                }
            })
        })


    </script>
{% endblock %}